*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    position: absolute;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    margin-top: 100px;
}

.header-left {
    display: block;
    font-family: 'Kameron';
    font-size: 25px;
    color: #54e000;
    position: absolute;
    left: 0%;
    margin-left: 40px;
    margin-top: 70px;
}



.link-list{
    display: block;
    font-size: 25px;
    position: absolute;
    right: 0%;
    margin-right: 40px;
    margin-top: 70px;
    list-style-type: none;
    padding: 0;
}

.link-list li{
    font-family: 'Kameron';
    color: #54e000;
    display: inline-block;
    margin-right: 10px;
}

.links{
    color:#54e000;
    text-decoration: none;
    transition: font-weight 0.1s;
}

a{
    transition: font-weight 0.1s;
}

a:hover{
    font-weight: 700;
}

.header-bg-img{
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.bg-img{
    background-image: url('assets/bg-img-flowers2cropped.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 0px;
    background-color: #54e000;
}

.dropdown-menu{
    background-color: #003366;
    display: none;
    font-family: 'Kameron';
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-top: 15px;
    list-style: none;
    z-index: 2;
}

.drop-links{
    color:#54e000;
    text-decoration: none;
}

@media (max-width: 1100px){
    .link-list{
        display: none;
    }

    .header-left{
        display: none;
    }

    .hamburger-menu {
        display: block; 
        cursor: pointer;
        margin: 20px 10px 10px 10px;
      }
    
      .bar {
          padding: 1px;
        width: 25px;
        height: 3px;
        background-color: #54e000;
        margin: 5px 5px 5px 5px;
      }
  
      .link-list.show{
          display: block;
      }
  
      .dropdown-menu.show{
          display: block;
      }
}


@media only screen and (max-width: 600px) {
    .header-container {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    .link-list {
      display: none;
    }
  
    .hamburger-menu {
      display: block; 
      cursor: pointer;
      margin: 20px 10px 10px 10px;
    }
  
    .bar {
        padding: 1px;
      width: 25px;
      height: 3px;
      background-color: #54e000;
      margin: 5px 5px 5px 5px;
    }

    .link-list.show{
        display: block;
    }

    .dropdown-menu.show{
        display: block;
    }
  }


.container .poster-col{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .poster-col .posters{
    display: flex;
    flex-direction: column;
    width: 33.3333%;
}

.container .poster-col .posters img{
    width: 100%;
}

.container .clothes-col{
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .clothes-col .clothes{
    display: flex;
    flex-direction: column;
    width: 33.3333%;
}

.container .clothes-col .clothes img{
    width: 100%;
}

.footer-div{
    margin: 50px 0px 50px 0px;
    font-family: 'Kameron';
    color: #222222;
    font-weight: 700;
    text-align: center;
}

.footer {
    background-color: #003366;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .contact-info,
  .company-info {
    flex-basis: 45%;
  }
  
  h2 {
    margin-bottom: 10px;
  }

  .input-container{
    margin: 0px;
  }

  #email{
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    opacity: 0.3;
    box-shadow: none;
  }

.input-container .message-box{
    font-family: 'Kameron';
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    opacity: 0.3;
    box-shadow: none;
}  

#email::placeholder{
    font-family: 'Kameron';
    color: rgb(80, 80, 80);
}

#email:focus{
    border-color: #007bff;
}

.send-button{
    font-family: 'Kameron';
    margin-bottom: 10px;
    padding: 10px;
    font-size: 12px;
    outline: none;
    background-color: #54e000;
    opacity: 0.7;
}

.link-logo{
    margin-top: 50px;
    width: 30px;
}

.about-me{
    object-fit: cover;
    width:100%;
    height: 100%;
}
